= form_for([:user,@client]) do |f|
  - if @client.errors.any?
    %ul
      - @client.errors.full_messages.each do |msg|
        %li= msg          
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", :class => "tableForm"}
    %tbody
      %tr
        %td#stepBtnHeight.leftCol{:width => "70%"}
          .formBox
            .row
              .col-xs-12
                .form-group#chain
                  = f.label :chain
                  = f.text_field :chain, :class => "form-control"
              .col-xs-12
                .form-group#bussiness_id
                  = f.label :business_unit
                  = f.text_field :business_unit, :class => "form-control"
              .col-xs-12
                .form-group#address
                  = f.label :address
                  = f.text_field :address, :class => "form-control"
              .col-xs-12.col-sm-6
                .form-group#postal_code
                  = f.label :postal_code
                  = f.text_field :postal_code, :class => "form-control"
              .col-xs-12.col-sm-6
                .form-group#city
                  = f.label :city
                  = f.text_field :city, :class => "form-control"                  
              .col-xs-12.col-sm-6
                .form-group#first_name
                  = f.label :first_name
                  = f.text_field :first_name, :class => "form-control"
              .col-xs-12.col-sm-6
                .form-group#last_name
                  = f.label :last_name
                  = f.text_field :last_name, :class => "form-control"
              .col-xs-12.col-sm-6
                .col-xs-6
                  = f.label :Status
                .col-xs-6                  
                  = check_box_tag 'client[roles][]', 'Manager', checked = false, id: 'status_manager'
                  = label_tag 'client_role', 'Manager'
              .col-xs-12.col-sm-6
                .col-xs-6
                  = check_box_tag 'client[roles][]', 'Superior', checked = false, id: 'status_superior'
                  = label_tag 'client_role', 'Superior'
                .col-xs-6
                  = check_box_tag 'client[roles][]', 'Expert', checked = false, id: 'status_expert'
                  = label_tag 'client_role', 'Expert'
              %br/
              .col-xs-12
                .form-group#title
                  = f.label :title
                  = f.text_field :title, :class => "form-control"
              .col-xs-12.col-sm-6
                .form-group#phone
                  = f.label :phone_number
                  = f.text_field :phone_number, :class => "form-control"
              .col-xs-12.col-sm-6
                .form-group#email
                  = f.label :email
                  = f.text_field :email, :class => "form-control"                  
        %td.stepBtnGroup.rightCol{:width => "30%"}
          %a.h11.stepBtn.discard{:href => "/user/desks/"} Discard changes and return back
          %button.h11.stepBtn.search{:type => "submit", :name => "search"} Search for Customer from Customer Register
          %button.h12.stepBtn.save{:type => "submit", :name => "proceed_next", :value=>"next"}
            Save and proceed to the
            %span next step